<div class="col-md-8">
<br>
<br>
<br>


<div class="container">
  <div class="row" style="color:black;">
    
     
        <table summary="Download Notes" class="table table-bordered table-hover">
			<h2 style="text-align:center;">Week Schedule</h2>
          <caption class="text-center">Time Table!</caption>
          <thead>
            <tr>
              <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thrusday</th>
        <th>Friday</th>
       
			  
            </tr>
          </thead>
          <tbody>
            <tr>
        <th>09:15 - 10:05</th>
        
            <td class="info"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
             <td class="success"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            <td class="active"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            <td class="danger"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            <td class="warning"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            
        
    </tr>

    <tr>
        <th>10:15 - 11:05</td>
        
            <td class="info"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
             <td class="success"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            <td class="active"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            <td class="danger"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
             <td class="warning"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            
        
    </tr>

    <tr>
        <th>11:15 - 12:05</td>
        
           <td class="info"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
             <td class="success"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            <td class="active"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            <td class="danger"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
             <td class="warning"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            

       
    </tr>

    <tr>
        <th>12:15 - 01:05</td>
        
            <td class="info"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
             <td class="success"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            <td class="active"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            <td class="danger"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
             <td class="warning"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>

       
    </tr>

    <tr>
        <th>01:15 - 02:05</td>
        
            <td class="danger">B</td>
            <td class="info">R</td>
            <td class="success">E</td>
            <td class="active">A</td>
            <td class="warning">k</td>
            
        
    </tr>
	
	<tr>
        <th>02:15 - 03:05</th>
        
          <td class="info"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            <td class="success"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            <td class="active"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            <td class="danger"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
             <td class="warning"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            
        
    </tr>

    <tr>
        <th>03:15 - 04:05</td>
        
            <td class="info"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
             <td class="success"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            <td class="active"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            <td class="danger"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
             <td class="warning"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            
        
    </tr>

    <tr>
        <th>04:15 - 05:05</td>
        
            <td class="info"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            <td class="success"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            <td class="active"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            <td class="danger"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
             <td class="warning"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            
        </div>
    </tr>

    <tr>
        <th>05:15 - 06:05</td>
        
           <td class="info"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
             <td class="success"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            <td class="active"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
            <td class="danger"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>
             <td class="warning"><div class="form-group">
  <label for="usr"></label>
  <input type="text" class="form-control" id="usr" style="width:auto;" placeholder="Subject">
</div></td>

        </div>
    </tr>
 
  </div>
  <div style="align:center;">
    <button type="submit" class="btn btn-success">Submit</button>
</div>
</div>
</div>