
<div class="col-md-2"></div>
<div class="col-md-8" style="color:black;">
<br>
<br>


<br>

<h2 style="text-align:center">Feedback</h2> <hr> 

<br>
 <form class="form">
	<div class="col-md-12">
	<div class="form-group">
    <label for="mname">
	
	a. Rate how well did you understood the topic on the scale of 0-10?
	
	</label>
	<br>
		
		<input id="slider1" type="range" min="1" max="10" step="1" />
		
		
		</div>
		
	
	</div>
	
  
	<div class="col-md-12">
	<div class="form-group">
    <label for="mname">
	
	b.	How was the course content? 
	
	</label>
	<br>
		
		<label class="radio-inline" for="teacher">
		<input type="radio"  id="NotGood" name="options"  ng-model="content" value="NotGood"> Not Good
		</label>
		<label class="radio-inline" for="student">
		<input type="radio" id="Fair" name="options"  ng-model="content" value="fair"> Fair
		</label>
		<label class="radio-inline" for="student">
		<input type="radio" id="Good" name="options"  ng-model="content" value="Good"> Good
		</label>
		<label class="radio-inline" for="student">
		<input type="radio" id="Excellent" name="options"  ng-model="content" value="Excellent"> Excellent
		</label>
		</div>
	</div>
	
  <div class="col-md-12">
	<div class="form-group">
    <label for="mname">
	
	c.	The instructor clearly presented the skills to be learned on scale of 0-10?*
	
	</label>
	<br>
		
		<input id="slider1" type="range" min="1" max="10" step="1" />
		</div>
	</div>

	
	  <div class="col-md-12">
	<div class="form-group">
    <label for="mname">
	
	d.	Did the instructor explain the concepts clearly?
	</label>
	<br>
		
		<label class="radio-inline" for="Yes">
		<input type="radio"  id="Yes" name="options"   value="Yes"> Yes
		</label>
		<label class="radio-inline" for="No">
		<input type="radio" id="No" name="options"  value="No"> No
		</label>
		</div>
	</div>
	
	
	  <div class="col-md-12">
	<div class="form-group">
    <label for="mname">
	
	e.	Did the instructor presented the content in an organised manner?*
	
	</label>
	<br>
		
		<label class="radio-inline" for="Yes">
		<input type="radio"  id="Yes" name="option"  ng-model="content" value="Yes"> Yes
		</label>
		<label class="radio-inline" for="No">
		<input type="radio" id="No" name="option"  ng-model="content" value="No"> No
		</label>
		</div>
	</div>
	
	
	
	  <div class="col-md-12">
	<div class="form-group">
    <label for="mname">
	
	f.	How successful was the instructor in creating an environment that was conductive to learning?(on scale of 0-10?)*
	
	</label>
	<br>
		
		<input id="slider1" type="range" min="1" max="10" step="1" />
		</div>
	</div>
	
	 <div class="col-md-12">
	<div class="form-group">
 
	
		
		 <label for="address">Feedback:</label><br>
	<textarea class="form-control"  id="comment"></textarea>
		</div>
	</div>
	
	
		


  
  
  

	
	<div class="col-md-6 container"> <button type="submit" class="btn btn-success">Submit</button>
	</div>
	
	
	
	<div class="col-md-6 container"> <button type="reset" class="btn btn-warning">Reset</button>
	</div>
	
	
	


   <div class="container"></div><div class="container"></div><div class="container"></div>
  </div>
  
  </form>
  </div>
 