<!DOCTYPE html>
<html ng-app="myapp">
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<link rel="stylesheet" href="css/font-awesome.min.css">

<link rel="stylesheet" href="css/font-awesome.css">


<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://use.fontawesome.com/0beee6d178.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
		<script src="js/angular-route.min.js"></script>
		<script src="js/angular-messages.min.js"></script>
		<script src="js/app.js"></script>

 
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.black{
background-color: black;
text-color: gray;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}
 body {
        overflow-x: hidden;
    }
	


</style>
</head>
<body background="images/sbg.jpg">

<div class="col-md-2"></div>
<div class="col-md-8">
<br>
<br>

<div class="card">
<br>

<h2 style="text-align:center;color:#ffe0bd;">Register</h2> 

<br>
 <form class="form">
	<div class="col-md-4">
	<div class="form-group">
    <label for="fname" style="color:#ffe0bd;">First Name:</label>
	<input type="text" class="form-control" id="fname" style="width: auto;" placeholder= "&#xf2bd;" >
	</div>
	</div>
	
  
	<div class="col-md-4">
	<div class="form-group">
    <label for="mname" style="color:#ffe0bd;">Middle Name:</label>
	<input type="text" class="form-control" id="mname" style="width: auto;" placeholder= "" >
	</div>
	</div>
  
  
	<div class="col-md-4">
	<div class="form-group">
    <label for="lname"  style="color:#ffe0bd;">Last Name:</label>
	<input type="text" class="form-control" id="lname" style="width: auto;" placeholder= "" >
	</div>
	</div>
	
	
	
	
		<div class="col-md-4">
		<label class="radio-inline" for="teacher"  style="color:#ffe0bd;">
		<input type="radio"  id="Teacher" name="options"  ng-model="usertype" value="teacher" style="color:#ffe0bd;"> Teacher
		</label>
		<label class="radio-inline" for="student"  style="color:#ffe0bd;">
		<input type="radio" id="Student" name="options"  ng-model="usertype" value="student"  style="color:#ffe0bd;"> Student
		</label>
		</div>
	
	
	
	    <div ng-show="usertype=='teacher'">
					
	<div class="col-md-4">
	<div class="form-group">
    <label for="rollno"  style="color:#ffe0bd;">ID No:</label>
	<input type="number" class="form-control" id="rollno" style="width: auto;" placeholder= "" >
	</div>
	</div>

	
	<div class="col-md-4">
	<div class="form-group">
    <label for="wnumber" style="color:#ffe0bd;">Whatsapp No:</label>
	<input type="number" class="form-control" id="wnumber" style="width: auto;" placeholder= "" >
	</div>
	</div>
	
	<div class="col-md-4">
	<div class="form-group">
    <label for="email"  style="color:#ffe0bd;">Email:</label>
	<input type="email" class="form-control" id="email" style="width: auto;" placeholder= "" >
	</div>
	</div>
	
	
	
		
	<div class="col-md-4">
	<div class="form-group">
    <label for="address"  style="color:#ffe0bd;">Address:</label>
	<textarea class="form-control" rows="5" id="comment"></textarea>
	</div>
	</div>
                   
		</div>
		
	<div ng-show="usertype=='student'">
	
	<div class="col-md-4">
	<div class="form-group">
    <label for="rollno"  style="color:#ffe0bd;">Roll No:</label>
	<input type="number" class="form-control" id="rollno" style="width: auto;" placeholder= "" >
	</div>
	</div>

	
	<div class="col-md-4">
	<div class="form-group">
    <label for="wnumber"  style="color:#ffe0bd;">Whatsapp No:</label>
	<input type="number" class="form-control" id="wnumber" style="width: auto;" placeholder= "" >
	</div>
	</div>
	
	<div class="col-md-4">
	<div class="form-group"  style="color:#ffe0bd;">
    <label for="email">Email:</label>
	<input type="email" class="form-control" id="email" style="width: auto;" placeholder= "" >
	</div>
	</div>
	
	
	
		
	<div class="col-md-4">
	<div class="form-group">
    <label for="address"  style="color:#ffe0bd;">Address:</label>
	<textarea class="form-control"  id="comment" placeholder='&#xf075; Add Comment'></textarea>
	</div>
	</div>
	<div class="col-md-4"></div><div class="col-md-4"></div>
	</div>


  
  
  

	
	<div class="col-md-6 container"> <button type="submit" class="btn btn-success">Signup</button>
	</div>
	
	
	
	<div class="col-md-6 container"> <button type="reset" class="btn btn-warning">Reset</button>
	</div>
	
	
	


   <div class="container"></div><div class="container"></div><div class="container"></div>
  </div>
  
  </form>
  </div> 

 
      

</body>
</html> 
